---
import { getCollection } from "astro:content";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Tag from "@/components/elements/Tag.astro";
import Footer from "@/components/sections/Footer.astro";
import Header from "@/components/sections/Header.astro";
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import { tagService } from "@/services/content/TagService";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getCollection("blog");

let tags = tagService.extractUniqueTags(posts);
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle={t("nav.tags")} pageDesc={t("post.allTags")}>
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
