---
import getSortedPosts from "@/utils/getSortedPosts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const sortedPosts = await getSortedPosts(posts);
---

<section
  id="group-filter"
  class="articles mx-auto max-w-content"
  transition:name="articles-filter"
>
</section>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const buttons = document.querySelectorAll(".category-button");

    buttons.forEach(button => {
      button.addEventListener("click", () => {
        const blogGrid = document.getElementById("article-grid");
        const articleCards = blogGrid.querySelectorAll(".article-card");
        const category = button.dataset.category;

        articleCards.forEach(card => {
          const shouldShow = card.dataset.categories
            .split("|")
            .includes(category);
          card.classList.toggle("hide", !shouldShow);
          card.classList.toggle("show", shouldShow);
        });
      });
    });
  });
</script>
