---
import LinkButton from "@/components/elements/LinkButton.astro";
import Footer from "@/components/sections/Footer.astro";
import Header from "@/components/sections/Header.astro";
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import type { TranslationKey } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1>404</h1>
      <span aria-hidden="true">¯\_(ツ)_/¯</span>
      <p>{t("errors.404.title" as TranslationKey)}</p>
      <LinkButton
        href="/"
        className="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        {t("nav.backHome")}
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style lang="postcss">
  #main-content {
    @apply mx-auto flex max-w-content flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
    h1 {
      @apply text-9xl font-bold text-skin-accent;
    }
    p {
      @apply mt-4 text-2xl sm:text-3xl;
    }
  }
</style>
