---
import { getCollection } from "astro:content";
import { SITE } from "@data/config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/sections/common/Header.astro";
import Footer from "@components/sections/common/Footer.astro";
import SearchBar from "@components/sections/Search";
import getSortedPosts from "@utils/getSortedPosts";
import { getLangFromUrl, useTranslations } from "i18n/utils";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = await getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
}));

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`${t("nav.search")} | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle={t("nav.search")} pageDesc={t("nav.searchDescription")}>
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
