---
import Author from "@/components/partials/Author.astro";
import Datetime from "@/components/partials/Datetime.astro";
import ReadingTime from "@/components/partials/ReadingTime.astro";
import { getAuthorEntry } from "@/utils/getAuthor";
import { slugifyStr } from "@/utils/slugify";
import { type CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
  withDatetime?: boolean;
  withReadingTime?: boolean;
  withAuthor?: boolean;
}

const {
  post,
  withDatetime = true,
  withReadingTime = true,
  withAuthor = false,
}: Props = Astro.props;

const { title, author, pubDatetime, modDatetime, readingTime } = post.data;

const authorEntry = await getAuthorEntry(author);

---

<div class="flex flex-wrap space-x-2 text-sm italic">
  {withDatetime && (
    <>
      <Datetime
        pubDatetime={pubDatetime}
        modDatetime={modDatetime}
        transition:name={slugifyStr(title + pubDatetime)}
      />
      {withReadingTime && (
        <span class="opacity-80" aria-hidden="true"> | </span>
      )}
    </>
  )}
  {withReadingTime && (
    <ReadingTime
      readingTime={readingTime}
      transition:name={slugifyStr(title + readingTime)}
    />
  )}
  {withAuthor && authorEntry && (
    <Author
      author={authorEntry}
      transition:name={slugifyStr(title + authorEntry.data.name)}
    />
  )}
</div>
