---
import { type CollectionEntry } from "astro:content";
import Datetime from "./Datetime.astro";
import ReadingTime from "./ReadingTime.astro";
import Author from "./Author.astro";

export interface Props {
  post: CollectionEntry<"blog"> | CollectionEntry<"glossary">;
  showAuthor?: boolean;
  showReadingTime?: boolean;
}

const { post, showAuthor = true, showReadingTime = true } = Astro.props;
const { pubDatetime, modDatetime, author } = post.data;
console.log("Post data:", post.data);
---

<div class="flex flex-wrap items-center gap-2 text-sm opacity-80">
  <Datetime datetime={pubDatetime} />
  {
    showAuthor && author && (
      <>
        <div class="h-1 w-1 rounded-full bg-skin-fill" />
        <Author author={author} />
      </>
    )
  }
  {
    showReadingTime && "readingTime" in post.data && post.data.readingTime && (
      <>
        <div class="h-1 w-1 rounded-full bg-skin-fill" />
        <ReadingTime readingTime={post.data.readingTime} />
      </>
    )
  }
</div>
