---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Icon } from "astro-icon/components";

interface Props {
  readingTime?: number;
  size?: "sm" | "lg";
  classes?: string;
}

const { readingTime, size = "sm", classes = "" }: Props = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

{
  readingTime && (
    <div
      class:list={["flex items-center space-x-1 opacity-80", classes.trim()]}
    >
      <Icon
        name="tabler:clock"
        class:list={[
          "inline-block fill-skin-base",
          size === "sm" ? "h-5 w-5" : "scale-100",
        ]}
      />
      <span class:list={["italic", size === "sm" ? "text-sm" : "text-base"]}>
        {readingTime}&nbsp;{t("readingTime.minutes")}
      </span>
    </div>
  )
}
<style></style>
